{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action "toggleSideBar")}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      EndoHancer
    </h2>
    <span class="flex"></span>
    {{#paper-button href="https://github.com/MichalBryxi/EndoHancer" target="_blank" iconButton=true}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left"
    open=isSideBarOpen
    onToggle=(action (mut isSideBarOpen))
  }}
    {{side-bar
      selectedAll=(action "selectedAll")
      isSelectedAll=isSelectedAll}}
  {{/paper-sidenav}}

  {{#paper-card-content class="content flex layout-row layout-wrap layout-margin layout-padding"}}
    {{#if auth.isAuthenticated}}
      {{x-workouts workoutsFiltered=workoutsFiltered workouts=workouts}}
      {{x-edit selectedWorkouts=selectedWorkouts editSport=editSport setEditSport=(action "setEditSport") saveChanges=(action "saveChanges")}}
    {{else}}
      <p>
        Please login...
      </p>
    {{/if}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
