{{#paper-content padding=true}}
  {{#if auth.isAuthenticated}}
    {{sports-select setSport=(action "setFilter" "sport") selectedSport=filter.sport placeholder="Display sport type"}}

    {{paper-input flex=true label="From" type="date" value=filter.startDate onChange=(action "setFilter" "startDate")}}
    {{paper-input flex=true label="To" type="date" value=filter.endDate onChange=(action "setFilter" "endDate")}}

    {{paper-input
      type="number"
      flex=true
      label="Max results"
      value=filter.maxResults
      onChange=(action "setFilter" "maxResults")
      max="1000"
    }}

    <div class="flex">
      {{#paper-checkbox value=isSelectedAll flex=true onChange=selectedAll}}
        Select all
      {{/paper-checkbox}}
    </div>

  {{else}}
      {{paper-input block=true label="E-mail" value=email onChange=(action (mut email))}}
      {{paper-input block=true label="Password" type="password" value=password onChange=(action (mut password)) onKeyDown=(action "passwordKeyDown")}}

      <div layout>
        {{#if auth.isLoading}}
          {{paper-progress-circular}}
        {{else}}
          {{#paper-button onClick=(action "processAuth") raised=true primary=true}}
            Login
          {{/paper-button}}
        {{/if}}
      </div>

      <p>
        <strong>Warning:</strong>
        This service needs your Endomondo login credentials. It is not good idea to put them anywhere else than Endomondo website.
      </p>
  {{/if}}
{{/paper-content}}
